Django==5.2.1
asgiref==3.8.1
pytz==2025.2
sqlparse==0.5.3
cryptography==44.0.2
PyAudio==0.2.14  # If required, leave it; if not, remove it.
requests==2.32.3
gunicorn==20.2.1  # Add this for running in production (on Render)
